/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #6abde6;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}

.cart {
  background-color: rgb(92, 134, 197);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart li img {
  max-width: 50px;
  border-radius: 5px;
}

.cart li div {
  flex: 1;
  margin-left: 10px;
}

.cart li button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cart li button:hover {
  background-color: #c82333;
}
